* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    background: #eeeded;
    font-family: 'Roboto', sans-serif;
    padding: 0;
  }

.container {
    height: 100%;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: 6rem auto;
    grid-template-columns: 3fr 7fr 3fr;
    grid-template-areas: "logo navbar navbar"
                         "coll1 pcontent coll2";
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo > img {
  width: 55%;
}

.navbar {
    grid-area: navbar;
}

.second-collumn {
    grid-area: coll2;
}
